# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5433/psizaia
DATABASE_USERNAME=appuser
DATABASE_PASSWORD=WL1xX21rW1oOh7KgK2FMnLTVw

# Server Configuration
SERVER_PORT=8081

# Keycloak Configuration
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/psychologist
