# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5433/psizaia
DATABASE_USERNAME=appuser
DATABASE_PASSWORD=WL1xX21rW1oOh7KgK2FMnLTVw

# Server Configuration
SERVER_PORT=8081

# Keycloak Configuration
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/psychologist
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_USERNAME=admin
KEYCLOAK_PASSWORD=ifEl_PjaGTp41oq-U9QB_A
